.mainpage-background {
    /* background-color: chartreuse; */
    /* background-image: url(https://wallpapercave.com/wp/Jx3kwzS.jpg); */
    width: 1259px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

